# -------------------------
# Maven
# -------------------------
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Logs
*.log

# -------------------------
# IntelliJ IDEA
# -------------------------
.idea/
*.iml
*.iws
*.ipr

# IntelliJ cache folders
/out/

# If you want to keep run configurations, remove this:
.idea/runConfigurations/

# -------------------------
# OS-specific
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Grupo do teu projeto
# -------------------------
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
